<form >
<pre>
Enter Email Id:   <input type="text" ng-model="user.email" disabled>
Enter Password:   <input type="password" ng-model="user.password">
Enter Firstname:  <input type="text" ng-model="user.firstname">
Enter Lastname:   <input type="text" ng-model="user.lastname">
Enter Phonenumber:<input type="text" ng-model="user.phonenumber">
Select Role:
<input type="radio" ng-model="user.role" value="STUDENT"> STUDENT
<input type="radio" ng-model="user.role" value="ALUMINI"> ALUMINI
<input type="radio" ng-model="user.role" value="EMPLOYEE"> EMPLOYEE
<input type="submit" ng-click="update()">
</pre>
</form>
